{
  "presets": ["react-native", "react-native-stage-0/decorator-support"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".ios.js", ".android.js"]
    }]
  ]
}
